body{
	background-image:url(../imagenes/fondo1.jpg);
	font-family:"Times New Roman";
	color:"#000000";
	font-size: 18 px;
	}

P{
	font-family:"Times New Roman";
	text-align:center;
	color:"#000000";
	Font-size:30px;
	}
	
hr{
	border:8px solid "#FFFFFF";
	border-radius:5px;
}

table,tr,td{
	border: 3px solid;
	border-color:"#A2D9CE";
	background-color:"#7FB3D5";
}

th{background-color:black;
}

ul{
	list-style-type:circle;
	list-style-position:inside;
}

ol{
	list-style-type:upper-roman;
	list-style-position:inside;
}

.pie{
	font-family:Royalacid_o;
	text-align:center;
	font-size:20 px;
	color:"#000000";
	font-family:"Times New Roman";
    font-weight:bold
}

.titulo{
	font-size:50 px;
	color:"#8EB0D5";
	font-family:"Times New Roman";
	text-align:center;
}

.tablas{
	font-family: Arial;
	font-size:20 px;
	color:"#FFFFFF";
}

.imagen{
	width: 300px;
	height:300px;
}

.hipervinculos{
	width:150px;
	height:150px;
	border-radius:50%;
}

@font-face{
	font-family:Royalacid_o;
	src:url(.../fuentes/MODERN.ttf;
}

@font-face{
	font-family:Sandy-Boldold;
	src:url(.../fuentes/MODERN.ttf;
}

div#top{
	width:100%;
	height:200px;
	background-image:linear-gradient(purple,black);
	}
	
div#piee{
	margin-top:20px;
	width:100%;
	height:30px;
	background-color:#BC8376;
	}

.caja{
	height:280px;
	width:230px;
	background:#93716A;
	border:1px solid #C8A59D;
	margin:10px;
	color:black;
	text-align:center;
	display:inline-block;
	}
	
	
.caja:hover{
	box-shadow:0 0 10px red;
	transform:scale(1.1);
	
	}
	
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:black;
	font-weight:bold;
	}

.caja-adicional{
padding-top:5px;
font-size:15 px;
	}

.carrousel{
    width: 600px;
    margin:auto;
    box-sizing: border-box;
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
    box-sizing: border-box;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 32px;
    color: grey;
}
.itemCarrouselArrows > a > i{
    color: white;
}

.descripción {
	color:#FADBD8;
	font-family:sundaybest;
	text-align:center;
	background-color:#34495E;
	font-size:25px;
	width:70%;
	border-radius:50px;
	font-weight:bold;
	display:inline-block;
}
.menu{
	height:300px;
	width:200px;
	margin:10px;
	background-color: white;
	text-align:center;
}



